body {
    padding-top: 80px;
}

[ng\:cloak],[ng-cloak],.ng-cloak{
	display:none !important
}

.nav, .pagination, .carousel, .panel-title a {
	cursor: pointer;
}

/******** CSS téma korrekciók **********/
/*.panel-body {
    border: 1px solid #ccc;
}*/

.panel-danger > .panel-heading {
    color: #fff;
}

.input-group-btn button {
    padding-bottom: 5px;
}

.row {
    margin-bottom: 15px;
}

.row:last-child {
    margin-bottom: 0;
}

.control-label {
    padding-top: 5px;
}

.navbar {
    line-height: 1;
}

.navbar-nav > li:hover {
    background: #EEEEEE;
}


/******** Login modul **********/
.loginModule .tab-content {
    padding-top: 20px;
}

/******** Gilda logó a főoldalon **********/
.gildaLoginLogo {
	width: 50%;
	display: block;
	margin: 0 auto;
	margin-top: -50px;
	margin-bottom: 20px;
}


/******** Terem label a nav-on **********/
.navbar-text .label {
    font-size: 1.2em;
    line-height: 1.5;
}

/******** User dropdown **********/
.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}


/******** Események listája alert **********/
.eventsAlert {
    max-width: 500px;
    margin-bottom: 5px;
}


/********* Események listája táblázat **********/
.tableEventDetails {
    margin-top: 15px;
}

.tableEvents > thead > tr,
.tableEventDetails > thead > tr,
.tableTrainers > thead > tr {
    background: #cc3433;
    color: #fff;
}

.tableEvents.table-hover > tbody > tr:hover > td {
  background-color: #ff4443;
  color: #fff;
  cursor: pointer;
}

.tableEvents > thead > tr > th,
.tableEvents > tbody > tr > td, 
.tableEventDetails > thead > tr > th,
.tableEventDetails > tbody > tr > td {
    vertical-align: middle;
}

.tableEvents > thead > tr > th:nth-child(9), 
.tableEvents > thead > tr > th:nth-child(10) {
    width: 1%;
}

.tableEvents > tbody > tr > td:nth-child(9),
.tableEvents > tbody > tr > td:nth-child(10)  {
    font-size: 1.2em;
    color: #ff4443;
}

.tableEvents > thead > tr > th:nth-child(1), 
.tableEvents > thead > tr > th:nth-child(2),
.tableEvents > thead > tr > th:nth-child(3), 
.tableEvents > thead > tr > th:nth-child(6),
.tableEvents > thead > tr > th:nth-child(7),
.tableEvents > thead > tr > th:nth-child(8), 
.tableEventDetails > thead > tr > th:first-child {
    width: 8%;
    text-align: center;
}

/********* Partnerek - Események listája táblázat **********/
.tablePartnerEvents > thead > tr {
    background: #cc3433;
    color: #fff;
}

.tablePartnerEvents > thead > tr > th,
.tablePartnerEvents > tbody > tr > td {
    vertical-align: middle;
}

.tablePartnerEvents > thead > tr > th:nth-child(1), 
.tablePartnerEvents > thead > tr > th:nth-child(2),
.tablePartnerEvents > thead > tr > th:nth-child(3), 
.tablePartnerEvents > thead > tr > th:nth-child(6), 
.tablePartnerEvents > thead > tr > th:nth-child(7),
.tablePartnerEvents > thead > tr > th:nth-child(8), 
.tablePartnerEvents > thead > tr > th:nth-child(9) {
    width: 8%;
    text-align: center;
}

.tablePartnerEvents > tbody > tr.reserved > td {
    background: #4CAF50;
    color: #fff;
}

/********* Partnerek - Foglalások listája táblázat **********/
.tablePartnerReservations > thead > tr {
    background: #cc3433;
    color: #fff;
}

.tablePartnerReservations > thead > tr > th,
.tablePartnerReservations > tbody > tr > td {
    vertical-align: middle;
}

.tablePartnerReservations > thead > tr > th {
    text-align: center;
}

.tablePartnerReservations > tbody > tr.inPast > td {
    background: #dfdfdf;
}

/********* Események részletei modul **********/
.eventDetailModule .label {
    font-size: 1.0em;
    display: inline-block;
}


/********* Edzők modul **********/
.trainersModule .tab-content {
    padding-top: 20px;
}

.tableTrainers > thead > tr > th:last-child {
    width: 1%;
}

.tableTrainers > tbody > tr > td > span {
    cursor: pointer;
    color: #dc0100;
    font-size: 1.2em;
}


/********* Termek modul **********/
.roomsModule .tab-content {
    padding-top: 20px;
}

.roomsModule ul.list-group li span {
    margin: 4px 0 0 0;
    color: #dc0100;
    cursor: pointer;
}


/********* Edzés típusok modul **********/
.trainingsModule .tab-content {
    padding-top: 20px;
}

.trainingsModule ul.list-group li span {
    margin: 4px 0 0 0;
    color: #dc0100;
    cursor: pointer;
}


/********* Hírek modul **********/
.newsModule {
    padding-bottom: 20px;
}

.newsModule .tab-content {
    padding-top: 20px;
}

.newsModule .panel-heading {
    font-size: 1.1em;
}

.newsModule .panel-footer {
    font-size: 0.9em;
    padding: 5px 15px;
    text-align: right;
}

.newsModule accordion .panel-heading {
    padding: 0;
}

.newsModule accordion .panel-title a {
    cursor: pointer;
    display: block;
    padding: 10px 15px;
}

.newsModule .newsDelete {
    margin-top: 5px;
    cursor: pointer;
}


/********* Akciók modul **********/
.specialOffersModule {
    padding-bottom: 20px;
}

.specialOffersModule .tab-content {
    padding-top: 20px;
}

.specialOffersModule .panel-heading {
    font-size: 1.1em;
}

.specialOffersModule .panel-footer {
    font-size: 0.9em;
    padding: 5px 15px;
}

.specialOffersModule accordion .panel-heading {
    padding: 0;
}

.specialOffersModule accordion .panel-title a {
    cursor: pointer;
    display: block;
    padding: 10px 15px;
}

.specialOffersModule .specialOfferDelete {
    margin-top: 5px;
    cursor: pointer;
}


/********* Log partners táblázat **********/
.tableLog > thead > tr {
    background: #cc3433;
    color: #fff;
}

.tableLog > tbody > tr:hover > td {
  cursor: default;
}

.tableLog > thead > tr > th,
.tableLog > tbody > tr > td {
    vertical-align: middle;
}

.tableLog > thead > tr > th:nth-child(5), 
.tableLog > thead > tr > th:nth-child(6) {
    width: 1%;
}

.tableLog .tableLogOperations {
    width: 1%;
    text-align: center;
    font-size: 1.2em;
    color: #ff4443;
}

.tableLog .tableLogOperations:hover span {
    cursor: pointer;
}

.tableLog > tbody > tr.banned > td {
    background: #f00;
    color: #fff;
}

/********* LogDetails táblázat **********/
.tableLogDetails > thead > tr {
    background: #cc3433;
    color: #fff;
}

.tableLogDetails > tbody > tr:hover > td {
    background-color: #ff4443;
    color: #fff;
    cursor: default;
}

.tableLogDetails > thead > tr > th,
.tableLogDetails > tbody > tr > td {
    vertical-align: middle;
}

/********* Change password **********/
.changePasswordTitle {
    margin: 0 0 25px 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}