<div class="container-fluid changePasswordModule">
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-6">
			<div class="well">
				<h2 class="text-center" style="margin:0 0 30px 0">GildaMax</h2>
				<h4 class="changePasswordTitle">Új jelszó igénylése</h4>
				<ng-form name="changePasswordForm" novalidate>
						<span class="help-block">
							Add meg az e-mail címed amivel regisztráltál!
							<br>
							Ellenőrizd a postafiókod és a kapott új jelszóval lépj be, majd belépés után változtasd meg!
						</span>
						<div class="form-group">
							<input class="form-control" placeholder="Email" name="email" type="email" ng-model="f.email" required />
						</div>
						<div class="form-group">
							<button class="btn btn-primary btn-block" type="button" ng-click="getNewPassword()" ng-disabled="changePasswordForm.email.$invalid">
								Küldés
							</button>
						</div>
						<p class="help-block">
							<button class="btn btn-xs btn-warning" ng-click="backToLogin()"><span class="glyphicon glyphicon-arrow-left"></span> Vissza</button>
						</p>
				</ng-form>
			</div>
		</div>
		<div class="col-sm-3"></div>
	</div>
</div>