<div class="container loginModule">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">

            <img src="Images/gilda_web_logo.png" class="gildaLoginLogo" alt="Gilda Logo" />

            <div class="well">
                <tabset justified="true">
                    <tab heading="Belépés" active="actives.loginTabActive">
                        <ng-form name="loginForm" novalidate>
                            <div ng-show="loginAlertShow">
                                <alert type="danger" close="closeLoginAlertShow()">
                                    {{loginAlertMessage}}
                                </alert>
                            </div>
                            <div class="form-group" ng-class="{'has-error': loginForm.email.$invalid && loginForm.email.$dirty, 'has-success': loginForm.email.$valid && loginForm.email.$dirty}">
                                <label class="control-label" for="email">E-mail:</label>
                                <input type="email" class="form-control" name="email" ng-model="user.email" required />
                            </div>
                            <div class="form-group" ng-class="{'has-error': loginForm.password.$invalid && loginForm.password.$dirty, 'has-success': loginForm.password.$valid && loginForm.password.$dirty}">
                                <label class="control-label" for="password">Jelszó:</label>
                                <input type="password" class="form-control" name="password" ng-model="user.password" required />
                            </div>
                            <div class="form-group" style="margin-top:40px">
                                <button type="button" ng-click="login(user)" ng-disabled="loginForm.$invalid" class="btn btn-primary btn-block">Belépés</button>
                            </div>
                        </ng-form>
                        <p class="text-right">
                            <a class="text-muted" href="" ng-click="forgetPassword()"><small>Elfelejtetted a jelszavad?</small></a>
                        </p>
                    </tab>
                    <tab heading="Partner regisztráció" active="actives.regTabActive">
                        <ng-form name="regForm" novalidate>
                            <div ng-show="regAlertShow">
                                <alert type="danger" close="closeRegAlertShow()">
                                    {{regAlertMessage}}
                                </alert>
                            </div>
                            <div class="form-group" ng-class="{'has-error': regForm.last_name.$invalid && regForm.last_name.$dirty, 'has-success': regForm.last_name.$valid && regForm.last_name.$dirty}">
                                <label class="control-label" for="last_name">Vezetéknév:</label>
                                <input type="text" class="form-control" name="last_name" ng-model="regUser.last_name" required />
                            </div>
                            <div class="form-group" ng-class="{'has-error': regForm.first_name.$invalid && regForm.first_name.$dirty, 'has-success': regForm.first_name.$valid && regForm.first_name.$dirty}">
                                <label class="control-label" for="first_name">Keresztnév:</label>
                                <input type="text" class="form-control" name="first_name" ng-model="regUser.first_name" required />
                            </div>
                            <div class="form-group" ng-class="{'has-error': regForm.regEmail.$invalid && regForm.regEmail.$dirty, 'has-success': regForm.regEmail.$valid && regForm.regEmail.$dirty}">
                                <label class="control-label" for="regEmail">E-mail:</label>
                                <input type="email" class="form-control" name="regEmail" ng-model="regUser.email" required />
                            </div>
                            <div class="form-group" ng-class="{'has-error': regForm.regPassword.$invalid && regForm.regPassword.$dirty, 'has-success': regForm.regPassword.$valid && regForm.regPassword.$dirty}">
                                <label class="control-label" for="regPassword">Jelszó:</label>
                                <input type="password" class="form-control" name="regPassword" ng-model="regUser.password" required />
                            </div>
                            <div class="form-group" ng-class="{'has-error': regForm.regConfirmPassword.$invalid && regForm.regConfirmPassword.$dirty || regUser.password != regUser.confirmPassword, 'has-success': regForm.regConfirmPassword.$valid && regForm.regConfirmPassword.$dirty && regUser.password == regUser.confirmPassword}">
                                <label class="control-label" for="regConfirmPassword">Jelszó megerősítése:</label>
                                <input type="password" class="form-control" name="regConfirmPassword" ng-model="regUser.confirmPassword" required />
                            </div>
                            <div class="form-group" style="margin-top:40px">
                                <button type="button" ng-click="register(regUser)" ng-disabled="regForm.$invalid || regUser.password != regUser.confirmPassword" class="btn btn-primary btn-block">Regisztráció</button>
                            </div>
                        </ng-form>
                    </tab>
                </tabset>
            </div>

        </div>
        <div class="col-sm-3"></div>
    </div>
</div>